# Binaries
*.exe
*.dll

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Sensitive Data
*.xlsx
residents.json
1 KK_ART Pondokrejo.xlsx
temp_residents.json

# Temp Files
arcgis_*.json
*.log
__pycache__/
*.pyc
verify_suyono.py

# Backup Files
*_backup.*
